/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Jersey 10";
}

body{
  background-color: #231442; 
  color: #efdf54ef;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

a:visited, a:link {
  text-decoration: none;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #B190D5;
  color: #0a0902ef;
  font-size: 20px;
  display: flex;
  transition: all 0.5s ease-out;
}

button > img{
  height: 20px;
}

button:hover {
  background-color: #efdf54ef;
}

/*Clases predeterminados*/
.box {
  border: #efdf54ef 2px solid;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
  height: 200px;
  transition: all 0.8s ease;
}

.box  button {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #efdf54ef;
  color: #231442;
}

.box:hover {
  border: none;
  background-color: #efdf54ef;
  color: #231442;
}

.box:hover  button {
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #231442 ;
  color: #efdf54ef;
}

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*NAV*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #53348f;
  font-size: 25px;
}

nav > div {
  display: flex;
  gap: 20px;
}

nav div a:visited, nav div a:link {
  color:#efdf54ef;
  transition: all 0.8s ease;
}

.enlace:hover{
  color: azure;
}

/*HEADER*/
header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  height: 90vh;
  gap: 10px;
  margin: 30px;
}

header > div {
  display: grid;
  gap: 10px;
}

header > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #B190D5;
  border-radius: 15px;
}

.box-one {
  grid-template-rows: 30% 70%;
}
.box-two {
  grid-template-rows: 85% 15%;
}
.box-three {
  grid-template-rows: 70% 30%;
}

.main-box {
  background-image: url("./images/Programmer.jpg");
  background-size: cover;
  border-radius: 15px;
}

/*Imagenes de Fondo*/
.image-sobre-mi {
  background-image: url(./images/sobreMi.jpg); 
  background-size:cover;
  transition: all 1s ease;
}

.image-proyectos {
  background-image: url(./images/proyectos.jpg); 
  background-size: cover;
  transition: all 1s ease;
}

.image-educacion {
  background-image: url(./images/educacion.jpg); 
  background-size: cover;
  transition: all 1s ease;
}

.image-educacion:hover, .image-proyectos:hover, .image-sobre-mi:hover {
  background-image: none;
}

.letras-secciones {
  opacity: 0;
}

.image-educacion:hover .letras-secciones, .image-proyectos:hover .letras-secciones, .image-sobre-mi:hover .letras-secciones{
  opacity: 1;
}

/*SECTION Proyecto*/
section{
  height: 70vh;
  padding: 25px;
}

.columna-grid-dos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
}

.columna-grid-tres {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
}


/*FOOTER*/
footer {
  padding: 25px;
}
